<a href="https://colab.research.google.com/github/hungyichiu/Iamcodingit-practice/blob/master/Learn_Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
heart_disease = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/heart-disease.csv")

In [ ]:
#2 main datatype
series = pd.Series(["BMW","TOYOTA","Benz"])

In [ ]:
series

0       BMW
1    TOYOTA
2      Benz
dtype: object

In [ ]:
# series = 1-dimensional

In [ ]:
colours = pd.Series(["Red","Black","Blue"])
colours

0      Red
1    Black
2     Blue
dtype: object

In [ ]:
# DataFram = 2-dimensional
car_data = pd.DataFrame({"Car Make": series,"Colours": colours})
car_data

  Car Make Colours
0      BMW     Red
1   TOYOTA   Black
2     Benz    Blue

In [18]:
# Import Data
car_sales = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [ ]:
# Exporting a dataframe
car_sales.to_csv("exported-car")